@{
    ViewBag.Title = "Página inicial";
}

<div class="jumbotron">
    <h1>Controle de jogos</h1>
    <p class="lead">Faça o cadastro dos seus amigos e dos seus jogos, para posteriormente controlar seus empréstimos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Amigos</h2>
        <p>Cadastre todos os seus amigos que você tem o hábito de emprestar jogos.</p>
    </div>
    <div class="col-md-4">
        <h2>Jogos</h2>
        <p>Cadastre todos os jogos que você possui.</p>
    </div>
    <div class="col-md-4">
        <h2>Empréstimos</h2>
        <p>Controle todos os empréstimos realizados.</p>
    </div>
</div>