USE [ControleJogos]
GO
/****** Object:  Table [dbo].[Acesso]    Script Date: 13/04/2018 20:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acesso](
	[ID_LOGIN] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Acesso] PRIMARY KEY CLUSTERED 
(
	[ID_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amigo]    Script Date: 13/04/2018 20:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amigo](
	[AMIGOID] [numeric](13, 0) IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Amigo] PRIMARY KEY CLUSTERED 
(
	[AMIGOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AmigoJogo]    Script Date: 13/04/2018 20:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmigoJogo](
	[AMIGOJOGOID] [numeric](13, 0) IDENTITY(1,1) NOT NULL,
	[JOGOID] [numeric](13, 0) NOT NULL,
	[AMIGOID] [numeric](13, 0) NOT NULL,
	[DATAEMPRESTIMO] [datetime] NOT NULL,
 CONSTRAINT [PK_AmigoJogo] PRIMARY KEY CLUSTERED 
(
	[AMIGOJOGOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogo]    Script Date: 13/04/2018 20:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[JOGOID] [numeric](13, 0) IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jogo] PRIMARY KEY CLUSTERED 
(
	[JOGOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AmigoJogo]  WITH CHECK ADD  CONSTRAINT [FK_AmigoJogo_Amigo] FOREIGN KEY([AMIGOID])
REFERENCES [dbo].[Amigo] ([AMIGOID])
GO
ALTER TABLE [dbo].[AmigoJogo] CHECK CONSTRAINT [FK_AmigoJogo_Amigo]
GO
ALTER TABLE [dbo].[AmigoJogo]  WITH CHECK ADD  CONSTRAINT [FK_AmigoJogo_Jogo] FOREIGN KEY([JOGOID])
REFERENCES [dbo].[Jogo] ([JOGOID])
GO
ALTER TABLE [dbo].[AmigoJogo] CHECK CONSTRAINT [FK_AmigoJogo_Jogo]
GO
